html{
  background-color: #000;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

img#logo{
  width: 120px;
}

span#title{
  color: white;
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 64px;
}

#section-one{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  height: 50vh;
}

#section-one img{
  height: 40vh;
}